{% extends 'layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="height: 100vh;padding-right: 20px;padding-left: 20px">
                <div class="row guanliyuan">
                    <div class="bottom_line">
                        <img src="/media/{{ request.session.info.admin_image }}">
                        <div class="shunzhipailie">
                            <span>{{ request.session.info.name }}</span>
                            <span>超级管理员</span>
                        </div>
                    </div>
                    <div class="dengluxinxi">
                        <div>上次登录时间:<span>2024-11-11</span></div>
                        <div>上次登录地点:<span>北京</span></div>
                    </div>
                </div>
                <div class="row" style="height: 440px; background-color: #fff;margin-top: 30px">
                    <div class="bs-example" data-example-id="simple-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>订单ID</th>
                                <th>商品名称</th>
                                <th>订单数量</th>
                                <th>客户</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in user_page %}
                                <tr>
                                    <td >{{ obj.order_id }}</td>
                                    <td >{{ obj.product_name }}</td>
                                    <td >{{ obj.quantity }}</td>
                                    <td >{{ obj.customer_name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="height: 100vh;padding-left: 20px;">
                <div class="row" style="height: 150px;background-color: #fff">
                    <!-- 卡片1 -->
                    <div class="col-md-4" style="margin-top:2%">
                        <div class="card">
                            <div style="float:left;margin-right: 2%">
                                <span class="glyphicon glyphicon-star" style="font-size: 36px;color:orange"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">今日收藏</h5>
                                <p class="card-text">1234</p>
                            </div>
                        </div>
                        <div class="card">
                            <div style="float:left;margin-right: 2%">
                                <span class="glyphicon glyphicon-star" style="font-size: 36px;color:orange"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">本月收藏</h5>
                                <p class="card-text">1234</p>
                            </div>
                        </div>
                    </div>
                    <!-- 卡片2 -->
                    <div class="col-md-4" style="margin-top:2%">
                        <div class="card">
                            <div style="float:left;margin-right: 4%">
                                <span class="glyphicon glyphicon-ok" style="font-size: 36px;color: #006dcc"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">今日销售</h5>
                                <p class="card-text">¥ 1234</p>
                            </div>
                        </div>
                        <div class="card">
                            <div style="float:left;margin-right: 4%">
                                <span class="glyphicon glyphicon-ok" style="font-size: 36px;color: #006dcc"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">本月销售</h5>
                                <p class="card-text">¥ 1234</p>
                            </div>
                        </div>
                    </div>
                    <!-- 卡片3 -->
                    <div class="col-md-4" style="margin-top:2%">
                        <div class="card">
                            <div style="float:left;margin-right: 2%">
                                <span class="glyphicon glyphicon-lock" style="font-size: 36px;color:#91cc75"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">今日订单</h5>
                                <p class="card-text">12120</p>
                            </div>
                        </div>
                        <div class="card">
                            <div style="float:left;margin-right: 2%">
                                <span class="glyphicon glyphicon-lock" style="font-size: 36px;color:#91cc75"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">本月订单</h5>
                                <p class="card-text">12120</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 350px; background-color: #fff;margin-top: 15px">
                    <div id="chart1" style="height: 100%;width: 100%"></div>
                </div>
                <div class="row" style="height: 250px; margin-top: 15px; display: flex;">
                    <div class="col-md-6" style="height: 250px; background-color: #fff;width: 60%">
                        <div id="chart2" style="height: 100%;width: 120%"></div>
                    </div>
                    <div class="col-md-6" style="height: 250px; background-color: #fff; margin-left: 10px;">
                        <div id="chart3" style="height: 100%;width: 100%"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script src="{% static 'js/echarts.js' %}"></script>
    <script type="text/javascript">

        const navItems = document.querySelectorAll('.item');
        navItems.forEach(navItem => {
            navItem.classList.remove('active');
        });
        navItems[0].classList.add('active');

        // 这里可以添加图表初始化的代码
        $(function () {
            intLine();
            intBar();
            intPie();
        });

        /**
         * 获取数据的函数（假设使用 AJAX 从服务器获取）
         */
        async function fetchChartData() {
            // 这里可以替换为真实的 API
            const response = await fetch('/chart_data/'); // 假设的 API 路径
            return await response.json(); // 返回 JSON 数据
        }

        /**
         * 初始化折线图
         */
        async function intLine() {
            const data = await fetchChartData(); // 获取数据
            var myChart = echarts.init(document.getElementById('chart1'));

            const option = {
                dataset: [
                    {
                        dimensions: ['name', 'performance'], // 假设您有一个 performance 字段
                        source: data.lineChart.series[0].data.map((value, index) => ({
                            name: data.lineChart.xAxis[index],
                            performance: value
                        }))
                    },
                    {
                        transform: {
                            type: 'sort',
                            config: {dimension: 'performance', order: 'desc'}
                        }
                    }
                ],
                title: {
                    text: '部门业绩',
                    left: 'center'
                },
                xAxis: {
                    type: 'category',
                    axisLabel: {interval: 0, rotate: 30}
                },
                yAxis: {},
                series: {
                    type: 'bar',
                    encode: {x: 'name', y: 'performance'},
                    datasetIndex: 1,
                }
            };

            myChart.setOption(option);
        }

        /**
         * 初始化柱状图
         */
        async function intBar() {
            const data = await fetchChartData(); // 获取数据

            var myChart = echarts.init(document.getElementById('chart2'));
            var option = {
                title: {
                    text: '员工薪资',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    top: '10%',
                    left: 'center',
                    data: data.barChart.legend // 假设从 API 获取的图例数据
                },
                xAxis: {
                    type: 'category',
                    data: data.barChart.xAxis // 假设从 API 获取的 x 轴数据
                },
                yAxis: {
                    type: 'value',
                },
                series: data.barChart.series.map(item => ({
                    name: item.name,
                    type: 'bar',
                    data: item.data
                }))
            };
            myChart.setOption(option);
        }

        /**
         * 初始化饼图
         */
        async function intPie() {
            const data = await fetchChartData(); // 获取数据

            var myChart = echarts.init(document.getElementById('chart3'));
            var option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    left: 'center'
                },
                series: [{
                    name: '订单来源',
                    type: 'pie',
                    radius: '50%',
                    data: data.pieChart.data, // 假设从 API 获取的数据
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }]
            };
            myChart.setOption(option);
        }

    </script>

{% endblock %}
