{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册&登录</title>
    <link rel="icon" href="{% static 'img/Bee-flower-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
<div class="container">
    <div class="welcome">
        <div class="pinkbox">
            <!-- 注册 -->
            <div class="signup nodisplay">
                <h1>Register</h1>
                <form autocomplete="off" method="post" action="/register/">
                    {% csrf_token %}
                    {{ register_form.name }}
                    <span style="color: red">{{ register_form.name.errors.0 }}</span>
                    {{ register_form.email }}
                    <span style="color: red">{{ register_form.email.errors.0 }}</span>
                    {{ register_form.password }}
                    {{ register_form.confirm_password }}
                    <span style="color: red">{{ register_form.password.errors.0 }}</span>
                    <button type="submit" class="button submit">创 建 用 户</button>
                </form>
            </div>

            <!-- 登录 -->
            <div class="signin">
                <h1>Sign In</h1>
                <form class="more-padding" autocomplete="off" method="post" action="/login/">
                    {% csrf_token %}
                    {{ login_form.name }}
                    {{ login_form.password }}
                    <span style="color: red">{{ login_form.password.errors.0 }}</span>
                    {#                    <div class="checkbox">#}
                    {#                        <input type="checkbox" id="remember"/><label for="remember">记住我</label>#}
                    {#                    </div>#}
                    <button type="submit" class="buttom sumbit">登 录</button>
                </form>
            </div>
        </div>

        <div class="leftbox">
            <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
            <p class="desc">Pick your perfect <span>bouquet</span></p>
            <img class="flower smaller"
                 src="https://hbimg.huabanimg.com/c09305167a883e60179a45374df73252304001359acca-W3qbYm_fw658/format/webp"/>
            <p class="account">已有账户?</p>
            <button class="button" id="signin">登 录</button>
        </div>

        <div class="rightbox">
            <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
            <p class="desc">Pick your perfect <span>bouquet</span></p>
            <img class="flower"
                 src="https://hbimg.huabanimg.com/b28be92c8198975a74ad656eba00b352c9b9e589819af-lDXUAS_fw658/format/webp"/>
            <p class="account">还没有账户?</p>
            <button class="button" id="signup">注 册</button>
        </div>
    </div>
</div>

<!-- partial -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>