{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="get">
                <div class="col-lg-4">
                    <div class="form-group d-flex">
                        <label for="userName" style="margin-right: 10px;">订单名:</label>
                        <input type="text" class="form-control" id="userName" name="q" placeholder="请输入订单名">
                    </div>

                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary" style="margin-top: 26px;"><span
                            class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right: 5px;"></span>查 询
                    </button>
                </div>
            </form>
        </div>
        <div>
            <button type="button" class="btn btn-success" id="btn_add"><span class="glyphicon glyphicon-plus"
                                                                             aria-hidden="true"
                                                                             style="margin-right: 5px"></span>添 加
            </button>
            <button type="button" id="btn_multiple_delete" class="btn btn-danger"><span
                    class="glyphicon glyphicon-trash" aria-hidden="true"
                    style="margin-right: 5px"></span>删 除
            </button>
        </div>
        <div class="panel panel-primary" style="margin-top: 10px;">
            <div class="panel-heading">订单信息列表</div>
            <div class="panel-body">
                <div class="bs-example" data-example-id="hoverable-table" style="margin: 20px;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="select-all">
                            </th>
                            <th>订单ID</th>
                            <th>产品图片</th>
                            <th>商品名称</th>
                            <th>订单数量</th>
                            <th>订单日期</th>
                            <th>客户</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in user_page %}
                            <tr>
                                <th scope="row" style="line-height: 70px">
                                    <input type="checkbox" class="select-row" value="{{ obj.order_id }}">
                                </th>
                                <td style="line-height: 70px">{{ obj.order_id }}</td>
                                <td><img style="height: 70px;" src="/media/{{ obj.product_image }}"></td>
                                <td style="line-height: 70px">{{ obj.product_name }}</td>
                                <td style="line-height: 70px">{{ obj.quantity }}</td>
                                <td style="line-height: 70px">{{ obj.order_date }}</td>
                                <td style="line-height: 70px">{{ obj.customer_name }}</td>
                                <td style="line-height: 70px">
                                    <a class="btn btn-primary btn-xs btn_update" data-nid="{{ obj.order_id }}"
                                       href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                    <a class="btn btn-danger btn-xs btn_delete"
                                       href="#" data-nid="{{ obj.order_id }}"><span
                                            class="glyphicon glyphicon-trash"
                                            aria-hidden="true"
                                    ></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="http://127.0.0.1:8000/order/list/?page=1"
                           aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    {% if user_page.has_previous %}
                        <li>
                            <a href="http://127.0.0.1:8000/order/list/?page={{ user_page.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}


                    {% for item in paginator.page_range %}
                        {% if item == current_page %}
                            <li class="active"><a
                                    href="http://127.0.0.1:8000/order/list/?page={{ item }}">{{ item }}</a>
                            </li>
                        {% else %}
                            <li><a href="http://127.0.0.1:8000/order/list/?page={{ item }}">{{ item }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if user_page.has_next %}
                        <li>
                            <a href="http://127.0.0.1:8000/order/list/?page={{ user_page.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="http://127.0.0.1:8000/order/list/?page={{ paginator.num_pages }}"
                           aria-label="Previous">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
            {#    新建和修改的模态框#}
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="add_or_update">新建订单信息</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form1">
                            {% for field in form %}
                                <div class="form-group" style="position: relative;margin-bottom: 20px">
                                    <label>{{ field.label }}</label>
                                    {% if field.name == 'product_image' %}
                                        <div>
                                            <!-- 当前产品图片显示 -->
                                            <img id="current_product_image" src=""
                                                 style="max-width: 100px; display: none; margin-bottom: 10px"/>
                                        </div>
                                    {% endif %}
                                    {{ field }}
                                    <span class="clear" style="color: red;position: absolute"></span>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="confirm1" type="button" class="btn btn-primary">保存</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {#    删除的模态框#}
        <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>是否确定删除</h4>
                    <div>
                        <div>删除后，所以关联的数据会被删除</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                        <button id="confirm2" type="button" class="btn btn-danger">确 定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            // sessionStorage是指本地存储一个会话中的数据,这些数据只有在同一个会话中的页面才能访问并且当会话结束后数据也随之销毁
            const successMessage = sessionStorage.getItem('successMessage');
            if (successMessage) {
                toastr.success(successMessage);  // 显示成功消息
                sessionStorage.removeItem('successMessage');  // 清除消息
            }
            const navItems = document.querySelectorAll('.item');
            navItems.forEach(navItem => {
                navItem.classList.remove('active');
            });
            navItems[3].classList.add('active');
            $('#select-all').click(function () {
                // 如果"全选"复选框被选中
                if ($(this).is(':checked')) {
                    $('.select-row').prop('checked', true); // 选中所有行复选框
                } else {
                    $('.select-row').prop('checked', false); // 取消所有行复选框
                }
            });

            // 当任一行复选框的状态发生变化时更新"全选"复选框
            $('.select-row').change(function () {
                if ($('.select-row:checked').length == $('.select-row').length) {
                    $('#select-all').prop('checked', true);
                } else {
                    $('#select-all').prop('checked', false);
                }
            });
        });
        // 新建
        $('#btn_add').click(function () {
            $('#myModalAdd').modal('show');
            $('#add_or_update').text('新建订单信息');

            // 确认
            $('#confirm1').click(function () {
                $('.clear').empty();
                console.log('2');

                // 创建 FormData 对象
                var formData = new FormData($('#form1')[0]); // 从表单元素创建 FormData

                // AJAX 把数据传回后端
                $.ajax({
                    url: '/order/add/',
                    type: 'POST', // 确保使用 POST 请求
                    data: formData,
                    processData: false, // 告诉 jQuery 不要处理数据
                    contentType: false, // 告诉 jQuery 不要设置 Content-Type
                    success: function (res) {
                        if (res.status) {
                            sessionStorage.setItem('successMessage', '新建成功');  // 存储成功消息
                            location.reload(); // 刷新页面
                        } else {
                            // 显示表单验证错误
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]); // 显示错误信息
                            });
                            toastr.error('新建失败'); // 弹出错误提示
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理网络错误
                        toastr.error('提交失败，请重试'); // 弹出错误提示
                    }
                });
            });
        });
        // 编辑
        $('.btn_update').click(function () {
            $('#add_or_update').text('修改数据')
            let nid = $(this).attr('data-nid')
            $.ajax({
                url: '/order/' + nid + '/update/',
                type: 'get',
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        $('#myModalAdd').modal('show')
                        $.each(res.data, function (name, value) {
                            console.log(value)
                            if (name === 'product_image') {
                                // 设置图片的 src 属性以显示当前商品图片
                                $('#current_product_image').attr('src', '/media/' + value).show();
                            } else {
                                $('#id_' + name).val(value)
                            }

                        })
                    }
                }
            })
            // 确认
            $('#confirm1').click(function () {
                $('.clear').empty()
                var formData = new FormData($('#form1')[0]); // 从表单元素创建 FormData
                $.ajax({
                    url: '/order/' + nid + '/update/',
                    type: 'post',
                    dataType: 'JSON',
                    data: formData,
                    processData: false, // 告诉 jQuery 不要处理数据
                    contentType: false, // 告诉 jQuery 不要设置 Content-Type
                    success: function (res) {
                        console.log(res)
                        if (res.status) {
                            sessionStorage.setItem('successMessage', '修改成功');
                            location.reload();
                        } else {
                            $.each(res.error, function (name, errorList) {
                                    $('#id_' + name).next().text(errorList[0])
                                },
                                toastr.error('修改失败')
                            )
                        }

                    }
                })
            })

        })
        // 单行删除
        $('.btn_delete').click(function () {
            $('#myModalDelete').modal('show')
            let nid = $(this).attr('data-nid')
            // 确认
            $('#confirm2').click(function () {
                console.log(nid)

                $.ajax({
                    url: '/order/' + nid + '/delete/',
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status) {
                            sessionStorage.setItem('successMessage', '删除成功')
                            location.reload()
                        } else {
                            sessionStorage.setItem('successMessage', '删除失败')
                        }
                    },
                    // 显示错误信息
                    error: function (xhr, status, err) {
                        console.log('Error:', status, err);
                    }
                })
            })

        })
        // 多行删除
        $('#btn_multiple_delete').click(function () {
            // 要删除的id号
            let nids = []
            $('.select-row:checked').each(function () {
                nids.push($(this).val())
                console.log(nids)
            })
            // 要删除的行不能为空
            if (nids.length === 0) {
                toastr.warning('删除不能为空');
            } else {
                $('#myModalDelete').modal('show')
                $('#confirm2').click(function () {
                    // 将选中的复选框的nid传回后端，后端进行处理
                    $.ajax({
                        url: '/order/' + 0 + '/delete/',
                        type: 'post',
                        dataType: 'JSON',
                        data: {
                            nids: nids
                        },
                        success: function (res) {
                            if (res.status) {
                                sessionStorage.setItem('successMessage', '删除成功');
                                location.reload();
                            }
                        }
                    })
                })
            }

        })

        // datapicker样式调整
        $('#id_order_date').datepicker({
            format: 'yyyy-mm-dd HH:mm',
            language: 'zh-CN',
        });
    </script>
{% endblock %}